<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#read-data-for-regression" data-toc-modified-id="read-data-for-regression-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>read data for regression</a></span></li><li><span><a href="#Add-Area-dummies" data-toc-modified-id="Add-Area-dummies-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Add Area dummies</a></span></li><li><span><a href="#Add-Covid-dummy" data-toc-modified-id="Add-Covid-dummy-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Add Covid dummy</a></span></li><li><span><a href="#Regression-String" data-toc-modified-id="Regression-String-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Regression String</a></span></li><li><span><a href="#Running-Regression" data-toc-modified-id="Running-Regression-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Running Regression</a></span></li><li><span><a href="#Hypothesis" data-toc-modified-id="Hypothesis-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Hypothesis</a></span></li></ul></div>

In [1]:
import pandas as pd
import numpy as np

# read data for regression

In [2]:
reg = pd.read_csv('regression_new.csv')
reg.head()

,AREA_NAME,Year,Population,Unemployment_rate,Median_household_income,Crimes_per_month
0,77th Street,2010,620172.0,15.829451,34679.964508,1203.333333
1,77th Street,2011,532941.0,12.154545,42531.909091,1187.333333
2,77th Street,2012,532445.0,12.490909,42105.818182,1186.916667
3,77th Street,2013,536127.0,13.745455,41582.090909,1145.083333
4,77th Street,2014,539384.0,13.481818,40561.181818,1170.833333

In [3]:
# log-log
reg['ln_Population'] = np.log(reg['Population'])
reg['ln_Unemployment_rate'] = np.log(reg['Unemployment_rate'])
reg['ln_Median_household_income'] = np.log(reg['Median_household_income'])
reg['ln_Crimes_per_month'] = np.log(reg['Crimes_per_month'])
reg.head()

,AREA_NAME,Year,Population,Unemployment_rate,Median_household_income,Crimes_per_month,ln_Population,ln_Unemployment_rate,ln_Median_household_income,ln_Crimes_per_month
0,77th Street,2010,620172.0,15.829451,34679.964508,1203.333333,13.337752,2.761872,10.453917,7.092851
1,77th Street,2011,532941.0,12.154545,42531.909091,1187.333333,13.186166,2.497703,10.658010,7.079465
2,77th Street,2012,532445.0,12.490909,42105.818182,1186.916667,13.185235,2.525001,10.647941,7.079114
3,77th Street,2013,536127.0,13.745455,41582.090909,1145.083333,13.192126,2.620708,10.635425,7.043233
4,77th Street,2014,539384.0,13.481818,40561.181818,1170.833333,13.198183,2.601342,10.610567,7.065471

In [4]:
reg['AREA_NAME'].unique()

array(['77th Street', 'Central', 'Devonshire', 'Foothill', 'Harbor',
       'Hollenbeck', 'Hollywood', 'Mission', 'N Hollywood', 'Newton',
       'Northeast', 'Olympic', 'Pacific', 'Rampart', 'Southeast',
       'Southwest', 'Topanga', 'Van Nuys', 'West LA', 'West Valley',
       'Wilshire'], dtype=object)

# Add Area dummies

In [5]:
for i in reg['AREA_NAME'].unique():
    reg[i] = [1 if j == i else 0 for j in reg['AREA_NAME']]
reg = reg.drop(columns=['77th Street'])
reg.head()

,AREA_NAME,Year,Population,Unemployment_rate,Median_household_income,Crimes_per_month,ln_Population,ln_Unemployment_rate,ln_Median_household_income,ln_Crimes_per_month,...,Olympic,Pacific,Rampart,Southeast,Southwest,Topanga,Van Nuys,West LA,West Valley,Wilshire
0,77th Street,2010,620172.0,15.829451,34679.964508,1203.333333,13.337752,2.761872,10.453917,7.092851,...,0,0,0,0,0,0,0,0,0,0
1,77th Street,2011,532941.0,12.154545,42531.909091,1187.333333,13.186166,2.497703,10.658010,7.079465,...,0,0,0,0,0,0,0,0,0,0
2,77th Street,2012,532445.0,12.490909,42105.818182,1186.916667,13.185235,2.525001,10.647941,7.079114,...,0,0,0,0,0,0,0,0,0,0
3,77th Street,2013,536127.0,13.745455,41582.090909,1145.083333,13.192126,2.620708,10.635425,7.043233,...,0,0,0,0,0,0,0,0,0,0
4,77th Street,2014,539384.0,13.481818,40561.181818,1170.833333,13.198183,2.601342,10.610567,7.065471,...,0,0,0,0,0,0,0,0,0,0

In [6]:
reg = reg.rename(columns = {'N Hollywood': 'N_Hollywood', 'Van Nuys': 'Van_Nuys', 'West Valley': 'West_Valley', 'West LA': 'West_LA'})
reg.head()

,AREA_NAME,Year,Population,Unemployment_rate,Median_household_income,Crimes_per_month,ln_Population,ln_Unemployment_rate,ln_Median_household_income,ln_Crimes_per_month,...,Olympic,Pacific,Rampart,Southeast,Southwest,Topanga,Van_Nuys,West_LA,West_Valley,Wilshire
0,77th Street,2010,620172.0,15.829451,34679.964508,1203.333333,13.337752,2.761872,10.453917,7.092851,...,0,0,0,0,0,0,0,0,0,0
1,77th Street,2011,532941.0,12.154545,42531.909091,1187.333333,13.186166,2.497703,10.658010,7.079465,...,0,0,0,0,0,0,0,0,0,0
2,77th Street,2012,532445.0,12.490909,42105.818182,1186.916667,13.185235,2.525001,10.647941,7.079114,...,0,0,0,0,0,0,0,0,0,0
3,77th Street,2013,536127.0,13.745455,41582.090909,1145.083333,13.192126,2.620708,10.635425,7.043233,...,0,0,0,0,0,0,0,0,0,0
4,77th Street,2014,539384.0,13.481818,40561.181818,1170.833333,13.198183,2.601342,10.610567,7.065471,...,0,0,0,0,0,0,0,0,0,0

# Add Covid dummy

In [7]:
reg['Covid'] = [1 if i > 2019 else 0 for i in reg['Year']]
reg.head()

,AREA_NAME,Year,Population,Unemployment_rate,Median_household_income,Crimes_per_month,ln_Population,ln_Unemployment_rate,ln_Median_household_income,ln_Crimes_per_month,...,Pacific,Rampart,Southeast,Southwest,Topanga,Van_Nuys,West_LA,West_Valley,Wilshire,Covid
0,77th Street,2010,620172.0,15.829451,34679.964508,1203.333333,13.337752,2.761872,10.453917,7.092851,...,0,0,0,0,0,0,0,0,0,0
1,77th Street,2011,532941.0,12.154545,42531.909091,1187.333333,13.186166,2.497703,10.658010,7.079465,...,0,0,0,0,0,0,0,0,0,0
2,77th Street,2012,532445.0,12.490909,42105.818182,1186.916667,13.185235,2.525001,10.647941,7.079114,...,0,0,0,0,0,0,0,0,0,0
3,77th Street,2013,536127.0,13.745455,41582.090909,1145.083333,13.192126,2.620708,10.635425,7.043233,...,0,0,0,0,0,0,0,0,0,0
4,77th Street,2014,539384.0,13.481818,40561.181818,1170.833333,13.198183,2.601342,10.610567,7.065471,...,0,0,0,0,0,0,0,0,0,0

# Regression String

In [8]:
varlist = list(reg.columns)
varlist

['AREA_NAME',
 'Year',
 'Population',
 'Unemployment_rate',
 'Median_household_income',
 'Crimes_per_month',
 'ln_Population',
 'ln_Unemployment_rate',
 'ln_Median_household_income',
 'ln_Crimes_per_month',
 'Central',
 'Devonshire',
 'Foothill',
 'Harbor',
 'Hollenbeck',
 'Hollywood',
 'Mission',
 'N_Hollywood',
 'Newton',
 'Northeast',
 'Olympic',
 'Pacific',
 'Rampart',
 'Southeast',
 'Southwest',
 'Topanga',
 'Van_Nuys',
 'West_LA',
 'West_Valley',
 'Wilshire',
 'Covid']

In [9]:
varlist = varlist[6:]
varlist.remove('ln_Crimes_per_month')
varlist.remove('Covid')
varlist

['ln_Population',
 'ln_Unemployment_rate',
 'ln_Median_household_income',
 'Central',
 'Devonshire',
 'Foothill',
 'Harbor',
 'Hollenbeck',
 'Hollywood',
 'Mission',
 'N_Hollywood',
 'Newton',
 'Northeast',
 'Olympic',
 'Pacific',
 'Rampart',
 'Southeast',
 'Southwest',
 'Topanga',
 'Van_Nuys',
 'West_LA',
 'West_Valley',
 'Wilshire']

In [10]:
new_list = varlist
new_list.remove('ln_Median_household_income')
new_list

['ln_Population',
 'ln_Unemployment_rate',
 'Central',
 'Devonshire',
 'Foothill',
 'Harbor',
 'Hollenbeck',
 'Hollywood',
 'Mission',
 'N_Hollywood',
 'Newton',
 'Northeast',
 'Olympic',
 'Pacific',
 'Rampart',
 'Southeast',
 'Southwest',
 'Topanga',
 'Van_Nuys',
 'West_LA',
 'West_Valley',
 'Wilshire']

In [11]:
new_var = ''
for i in new_list:
    new_var = new_var + ' + ' + i
new_var = new_var[3::]
new_var = 'Covid + ' + new_var
new_var

'Covid + ln_Population + ln_Unemployment_rate + Central + Devonshire + Foothill + Harbor + Hollenbeck + Hollywood + Mission + N_Hollywood + Newton + Northeast + Olympic + Pacific + Rampart + Southeast + Southwest + Topanga + Van_Nuys + West_LA + West_Valley + Wilshire'

In [12]:
var = ''
for i in varlist:
    var = var + ' + ' + i
var = var[3::]
var = 'Covid + ' + var
var

'Covid + ln_Population + ln_Unemployment_rate + Central + Devonshire + Foothill + Harbor + Hollenbeck + Hollywood + Mission + N_Hollywood + Newton + Northeast + Olympic + Pacific + Rampart + Southeast + Southwest + Topanga + Van_Nuys + West_LA + West_Valley + Wilshire'

In [13]:
basic = 'ln_Crimes_per_month ~ ' + var
basic

'ln_Crimes_per_month ~ Covid + ln_Population + ln_Unemployment_rate + Central + Devonshire + Foothill + Harbor + Hollenbeck + Hollywood + Mission + N_Hollywood + Newton + Northeast + Olympic + Pacific + Rampart + Southeast + Southwest + Topanga + Van_Nuys + West_LA + West_Valley + Wilshire'

In [14]:
new_basic = 'ln_Crimes_per_month ~ ' + new_var
new_basic

'ln_Crimes_per_month ~ Covid + ln_Population + ln_Unemployment_rate + Central + Devonshire + Foothill + Harbor + Hollenbeck + Hollywood + Mission + N_Hollywood + Newton + Northeast + Olympic + Pacific + Rampart + Southeast + Southwest + Topanga + Van_Nuys + West_LA + West_Valley + Wilshire'

In [15]:
# regression with unemployment_rate*covid
equation = 'ln_Crimes_per_month ~ ' + var + ' + ' + 'ln_Unemployment_rate*Covid'
equation

'ln_Crimes_per_month ~ Covid + ln_Population + ln_Unemployment_rate + Central + Devonshire + Foothill + Harbor + Hollenbeck + Hollywood + Mission + N_Hollywood + Newton + Northeast + Olympic + Pacific + Rampart + Southeast + Southwest + Topanga + Van_Nuys + West_LA + West_Valley + Wilshire + ln_Unemployment_rate*Covid'

In [16]:
new_equation = 'ln_Crimes_per_month ~ ' + new_var + ' + ' + 'ln_Unemployment_rate*Covid'
new_equation

'ln_Crimes_per_month ~ Covid + ln_Population + ln_Unemployment_rate + Central + Devonshire + Foothill + Harbor + Hollenbeck + Hollywood + Mission + N_Hollywood + Newton + Northeast + Olympic + Pacific + Rampart + Southeast + Southwest + Topanga + Van_Nuys + West_LA + West_Valley + Wilshire + ln_Unemployment_rate*Covid'

In [17]:
equation2 = equation + ' + ' + 'ln_Population*Covid'
equation2

'ln_Crimes_per_month ~ Covid + ln_Population + ln_Unemployment_rate + Central + Devonshire + Foothill + Harbor + Hollenbeck + Hollywood + Mission + N_Hollywood + Newton + Northeast + Olympic + Pacific + Rampart + Southeast + Southwest + Topanga + Van_Nuys + West_LA + West_Valley + Wilshire + ln_Unemployment_rate*Covid + ln_Population*Covid'

In [18]:
new_equation2 = new_equation + ' + ' + 'ln_Population*Covid'
new_equation2

'ln_Crimes_per_month ~ Covid + ln_Population + ln_Unemployment_rate + Central + Devonshire + Foothill + Harbor + Hollenbeck + Hollywood + Mission + N_Hollywood + Newton + Northeast + Olympic + Pacific + Rampart + Southeast + Southwest + Topanga + Van_Nuys + West_LA + West_Valley + Wilshire + ln_Unemployment_rate*Covid + ln_Population*Covid'

In [19]:
equation3 = equation2 + ' + ' + 'ln_Median_household_income*Covid'
equation3

'ln_Crimes_per_month ~ Covid + ln_Population + ln_Unemployment_rate + Central + Devonshire + Foothill + Harbor + Hollenbeck + Hollywood + Mission + N_Hollywood + Newton + Northeast + Olympic + Pacific + Rampart + Southeast + Southwest + Topanga + Van_Nuys + West_LA + West_Valley + Wilshire + ln_Unemployment_rate*Covid + ln_Population*Covid + ln_Median_household_income*Covid'

# Running Regression

In [20]:
from sklearn.linear_model import LinearRegression
import statsmodels.formula.api as sm

In [21]:
result = sm.ols(formula=basic , 
                data=reg).fit()
print(result.summary())

                             OLS Regression Results
===============================================================================
Dep. Variable:     ln_Crimes_per_month   R-squared:                       0.776
Model:                             OLS   Adj. R-squared:                  0.754
Method:                  Least Squares   F-statistic:                     34.42
Date:                 Sun, 05 Dec 2021   Prob (F-statistic):           2.79e-61
Time:                         14:28:45   Log-Likelihood:                 268.84
No. Observations:                  252   AIC:                            -489.7
Df Residuals:                      228   BIC:                            -405.0
Df Model:                           23
Covariance Type:             nonrobust
========================================================================================
                           coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------
Intercept               -0.2116      2.012     -0.105      0.916      -4.175       3.752
Covid                   -0.1092      0.025     -4.443      0.000      -0.158      -0.061
ln_Population            0.5907      0.153      3.853      0.000       0.289       0.893
ln_Unemployment_rate    -0.2102      0.027     -7.901      0.000      -0.263      -0.158
Central                 -0.6359      0.068     -9.369      0.000      -0.770      -0.502
Devonshire              -0.2060      0.076     -2.695      0.008      -0.357      -0.055
Foothill                -0.5728      0.047    -12.062      0.000      -0.666      -0.479
Harbor                  -0.8442      0.099     -8.504      0.000      -1.040      -0.649
Hollenbeck              -0.6713      0.037    -18.317      0.000      -0.744      -0.599
Hollywood                0.2416      0.169      1.427      0.155      -0.092       0.575
Mission                 -0.2274      0.059     -3.855      0.000      -0.344      -0.111
N_Hollywood             -0.0259      0.072     -0.361      0.719      -0.167       0.115
Newton                   0.1803      0.151      1.194      0.234      -0.117       0.478
Northeast               -0.4757      0.039    -12.325      0.000      -0.552      -0.400
Olympic                 -0.3046      0.060     -5.039      0.000      -0.424      -0.185
Pacific                 -0.4906      0.063     -7.746      0.000      -0.615      -0.366
Rampart                  0.2625      0.196      1.341      0.181      -0.123       0.648
Southeast               -0.1173      0.052     -2.238      0.026      -0.220      -0.014
Southwest                0.2144      0.091      2.364      0.019       0.036       0.393
Topanga                 -0.1229      0.101     -1.214      0.226      -0.322       0.077
Van_Nuys                 0.2411      0.176      1.372      0.171      -0.105       0.587
West_LA                 -0.2113      0.083     -2.540      0.012      -0.375      -0.047
West_Valley              0.0021      0.152      0.014      0.989      -0.297       0.301
Wilshire                 0.0643      0.164      0.391      0.696      -0.260       0.388
==============================================================================
Omnibus:                       16.273   Durbin-Watson:                   0.900
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               22.917
Skew:                          -0.448   Prob(JB):                     1.06e-05
Kurtosis:                       4.175   Cond. No.                     4.91e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 4.91e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [22]:
# Since ln_Median_household_income is not significant -> remove this variable
# Final model
result = sm.ols(formula=new_basic, 
                data=reg).fit()
print(result.summary())

                             OLS Regression Results
===============================================================================
Dep. Variable:     ln_Crimes_per_month   R-squared:                       0.776
Model:                             OLS   Adj. R-squared:                  0.754
Method:                  Least Squares   F-statistic:                     34.42
Date:                 Sun, 05 Dec 2021   Prob (F-statistic):           2.79e-61
Time:                         14:28:45   Log-Likelihood:                 268.84
No. Observations:                  252   AIC:                            -489.7
Df Residuals:                      228   BIC:                            -405.0
Df Model:                           23
Covariance Type:             nonrobust
========================================================================================
                           coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------
Intercept               -0.2116      2.012     -0.105      0.916      -4.175       3.752
Covid                   -0.1092      0.025     -4.443      0.000      -0.158      -0.061
ln_Population            0.5907      0.153      3.853      0.000       0.289       0.893
ln_Unemployment_rate    -0.2102      0.027     -7.901      0.000      -0.263      -0.158
Central                 -0.6359      0.068     -9.369      0.000      -0.770      -0.502
Devonshire              -0.2060      0.076     -2.695      0.008      -0.357      -0.055
Foothill                -0.5728      0.047    -12.062      0.000      -0.666      -0.479
Harbor                  -0.8442      0.099     -8.504      0.000      -1.040      -0.649
Hollenbeck              -0.6713      0.037    -18.317      0.000      -0.744      -0.599
Hollywood                0.2416      0.169      1.427      0.155      -0.092       0.575
Mission                 -0.2274      0.059     -3.855      0.000      -0.344      -0.111
N_Hollywood             -0.0259      0.072     -0.361      0.719      -0.167       0.115
Newton                   0.1803      0.151      1.194      0.234      -0.117       0.478
Northeast               -0.4757      0.039    -12.325      0.000      -0.552      -0.400
Olympic                 -0.3046      0.060     -5.039      0.000      -0.424      -0.185
Pacific                 -0.4906      0.063     -7.746      0.000      -0.615      -0.366
Rampart                  0.2625      0.196      1.341      0.181      -0.123       0.648
Southeast               -0.1173      0.052     -2.238      0.026      -0.220      -0.014
Southwest                0.2144      0.091      2.364      0.019       0.036       0.393
Topanga                 -0.1229      0.101     -1.214      0.226      -0.322       0.077
Van_Nuys                 0.2411      0.176      1.372      0.171      -0.105       0.587
West_LA                 -0.2113      0.083     -2.540      0.012      -0.375      -0.047
West_Valley              0.0021      0.152      0.014      0.989      -0.297       0.301
Wilshire                 0.0643      0.164      0.391      0.696      -0.260       0.388
==============================================================================
Omnibus:                       16.273   Durbin-Watson:                   0.900
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               22.917
Skew:                          -0.448   Prob(JB):                     1.06e-05
Kurtosis:                       4.175   Cond. No.                     4.91e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 4.91e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [23]:
# After covid-19, the average number of monthly crime would decrease by 10.4% compared to pre-covid periods.

# Hypothesis

- Purpose: To check whether the proportion of Asians victims (Chinese, Korean, Japanese, Filipino, Vietnamese, Cambodian, Laotian, Other Asian, Asian Indian) among all victims increases after covid-19 in LA.

- H0: The average proportion of Asian victims among all victims before covid-19 (mu0) is the same as the average proportion after covid-19 (mu1). mu0 - mu1 = 0
- Ha: The average proportion of Asian victims among all victims after covid-19 (mu1) is larger than the average proportion before covid-19 (mu0). mu0 - mu1 < 0

In [24]:
before = np.array([2.8192, 2.7887, 2.8524, 2.9758, 3.0803, 3.0925, 3.0668,  3.2898, 3.4234])
after = np.array([3.2194, 3.5459])

In [25]:
se = np.sqrt(before.std()*before.std()/9 + after.std()*after.std()/2)
se

0.13356317643901755

In [26]:
t = (before.mean() - after.mean()) / se
t

-2.5414107236650705

In [27]:
# threshold = -1.833
# Since test-statistics < threshold
# We can reject null hypothesis, the proportion of asian victims increase after covid-19